#include "keys_ru.h"
#include "keys_ru.h"
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>

&mt {
    quick-tap-ms = <200>;
    flavor = "tap-preferred";
    require-prior-idle-ms = <125>;
};

/ {
    behaviors {
        hml: home_row_mod_left {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            require-prior-idle-ms = <150>;
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            bindings = <&kp>, <&kp>;

            hold-trigger-key-positions = <5 6 7 8 9 15 16 17 18 19 25 26 27 28 29 33 34 35>;
            hold-trigger-on-release;
        };

        hmr: home_row_mod_right {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            require-prior-idle-ms = <150>;
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            bindings = <&kp>, <&kp>;

            hold-trigger-key-positions = <0 1 2 3 4 10 11 12 13 14 20 21 22 23 24 30 31 32>;
            hold-trigger-on-release;
        };
    };

    combos {
        compatible = "zmk,combos";

        kha {
            bindings = <&kp RU_CYRILLIC_E>;
            key-positions = <19 18>;
            layers = <1>;
        };

        hrdsgn {
            bindings = <&kp RU_CYRILLIC_HARD_SIGN>;
            key-positions = <8 9>;
            layers = <1>;
        };
    };

    macros {
        to_ru: to_ru {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(SPACE)>;
            label = "TO_RU";
            wait-ms = <0>;
            tap-ms = <30>;
        };

        to_en: to_en {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(SPACE)>;
            label = "TO_EN";
            wait-ms = <0>;
            tap-ms = <30>;
        };

        layer_en: layer_en {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&to 0 &to_en>;
            label = "LAYER_EN";
            wait-ms = <0>;
            tap-ms = <30>;
        };

        layer_ru: layer_ru {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&to 1 &to_ru>;
            label = "LAYER_RU";
            tap-ms = <30>;
            wait-ms = <0>;
        };

        en: en {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings =
                <&to_en>,
                <&macro_press>,
                <&macro_param_1to1 &kp MACRO_PLACEHOLDER>,
                <&macro_pause_for_release>,
                <&macro_release>,
                <&macro_param_1to1 &kp MACRO_PLACEHOLDER>,
                <&macro_tap>,
                <&to_ru>;

            label = "EN";
            wait-ms = <0>;
            tap-ms = <30>;
        };

        print_en: print_en {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none &kp N &kp O &kp W &kp SPACE &kp E &kp N>;
            label = "PRINT_EN";
        };

        print_ru: print_ru {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none &kp N &kp O &kp W &kp SPACE &kp R &kp U>;
            label = "PRINT_RU";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        en {
            bindings = <
  &kp Q               &kp W  &kp E  &kp R             &kp T                                                               &kp Y        &kp U             &kp I      &kp O    &kp P
  &mt LEFT_CONTROL A  &kp S  &kp D  &kt F             &kp G                                                               &kp H        &kp J             &kp K      &kp L    &mt LEFT_CONTROL SEMICOLON
  &mt LEFT_SHIFT Z    &kp X  &kp C  &kp V             &kp B                                                               &kp N        &kp M             &kp COMMA  &kp DOT  &mt LEFT_SHIFT SLASH
                                    &mt LEFT_ALT TAB  &lt 2 SPACE  &mt LEFT_COMMAND DELETE    &mt LEFT_COMMAND BACKSPACE  &lt 4 ENTER  &mt LEFT_ALT ESC
            >;

            display-name = "Base";
        };

        ru {
            bindings = <
  &kp RU_CYRILLIC_SHORT_I          &kp RU_CYRILLIC_TSE   &kp RU_CYRILLIC_U   &kp RU_CYRILLIC_KA  &kp RU_CYRILLIC_IE                                                         &kp RU_CYRILLIC_EN  &kp RU_CYRILLIC_GHE        &kp RU_CYRILLIC_SHA  &kp RU_CYRILLIC_SHCHA  &kp RU_CYRILLIC_ZE
  &mt LEFT_CONTROL RU_CYRILLIC_EF  &kp RU_CYRILLIC_YERU  &kp RU_CYRILLIC_VE  &kp RU_CYRILLIC_A   &kp RU_CYRILLIC_PE                                                         &kp RU_CYRILLIC_ER  &kp RU_CYRILLIC_O          &kp RU_CYRILLIC_EL   &kp RU_CYRILLIC_DE     &mt LEFT_CONTROL RU_CYRILLIC_ZHE
  &mt LEFT_SHIFT RU_CYRILLIC_YA    &kp RU_CYRILLIC_CHE   &kp RU_CYRILLIC_ES  &kp RU_CYRILLIC_EM  &kp RU_CYRILLIC_I                                                          &kp RU_CYRILLIC_TE  &kp RU_CYRILLIC_SOFT_SIGN  &kp RU_CYRILLIC_BE   &kp RU_CYRILLIC_YU     &mt LEFT_SHIFT RU_CYRILLIC_HA
                                                                             &mt LEFT_ALT TAB    &lt 3 SPACE         &mt LEFT_COMMAND DELETE    &mt LEFT_COMMAND BACKSPACE  &lt 4 ENTER         &mt LEFT_ALT ESC
            >;

            display-name = "Ru";
        };

        sym_en {
            bindings = <
  &kp TILDE      &kp PRCNT  &kp CARET  &kp GRAVE   &kp LBRC                          &kp RBRC  &kp EQUAL  &kp UNDER  &kp AMPS   &kp STAR
  &kp EXCL       &kp AT     &kp HASH   &kp DOLLAR  &kp LPAR                          &kp RPAR  &kp PLUS   &kp MINUS  &kp COLON  &kp SEMI
  &kp BACKSLASH  &kp LT     &kp GT     &kp DQT     &kp LBKT                          &kp RBKT  &kp SQT    &kp COMMA  &kp DOT    &kp QMARK
                                       &trans      &trans    &print_en    &layer_ru  &mo 5     &kp SLASH
            >;

            display-name = "Symbols";
        };

        sym_ru {
            bindings = <
  &en TILDE    &en RU_PRCNT  &kp CARET  &en GRAVE   &en LBRC                         &en RBRC     &en EQUAL    &kp UNDER     &en AMPS      &en RU_ASTRK
  &kp RU_EXCL  &kp AT        &kp HASH   &kp DOLLAR  &kp RU_LPAR                      &kp RU_RPAR  &en RU_PLUS  &kp MINUS     &kp RU_COLON  &kp RU_SEMI
  &en RU_BSLH  &kp LT        &kp GT     &kp RU_DQT  &en LBKT                         &en RBKT     &en SQT      &kp RU_COMMA  &kp RU_DOT    &kp RU_QMARK
                                        &trans      &trans       &print_ru    &none  &mo 5        &kp PIPE
            >;

            display-name = "Symbols";
        };

        nav {
            bindings = <
  &kp N1            &kp N2  &kp N3        &kp N4         &kp N5                       &kp N6    &kp N7    &kp N8  &kp N9     &kp N0
  &kp LEFT_CONTROL  &none   &kp LA(LEFT)  &kp LA(RIGHT)  &none                        &kp LEFT  &kp DOWN  &kp UP  &kp RIGHT  &kp LEFT_CONTROL
  &none             &none   &none         &none          &none                        &none     &none     &none   &none      &none
                                          &trans         &mo 5   &layer_en    &trans  &trans    &trans
            >;

            display-name = "Nav";
        };

        adj {
            bindings = <
  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &out OUT_BLE  &out OUT_USB                    &kp F11             &kp C_VOL_DN        &kp K_MUTE        &kp C_VOLUME_DOWN  &bt BT_CLR
  &kp F1        &kp F2        &kp F3        &kp F4        &kp F5                          &kp LC(LEFT_ARROW)  &kp LC(DOWN_ARROW)  &kp LC(UP_ARROW)  &kp LC(RIGHT)      &bootloader
  &kp F6        &kp F7        &kp F8        &kp F9        &kp F10                         &kp F12             &kp C_PREV          &kp C_PP          &kp C_NEXT         &studio_unlock
                                            &trans        &trans        &trans    &trans  &trans              &trans
            >;

            display-name = "Adjust";
        };
    };
};
